<section>
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="content">
    @if (recipe.picture) {
    <img [src]="recipe.picture" [alt]="recipe.name" />
    } @else {
    <img
      [src]="imagePath + 'Default-recipe.webp'"
      [alt]="recipe.name"
      class="empty"
    />
    }
    <div class="infos">
      <div class="element">
        <span class="element-title">Catégorie :</span>
        <span class="element-value capitalize">{{ recipe.type }}</span>
      </div>
      <div class="element">
        <span class="element-title">Temps :</span>
        <span class="element-value">{{ recipe.duration }} min</span>
      </div>
    </div>
    <div class="button-container">
      <a (click)="updateRecipe()" title="Modifier recette">
        <i class="bx bxs-edit-alt"></i>
        <span class="text">Modifier</span>
      </a>
      <a (click)="openDialog()" title="Supprimer recette" class="delete">
        <i class="bx bxs-trash"></i>
        <span class="text">Supprimer</span>
      </a>
    </div>
  </div>
</section>
