<section id="to-download">
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
  @if (!loading) {
  <div class="content">
    @if (recipe.picture) {
    <img [src]="recipe.picture" [alt]="recipe.name" />
    } @else {
    <img
      [src]="imagePath + 'Default-recipe.webp'"
      [alt]="recipe.name"
      class="empty"
    />
    }
    <div class="infos">
      <div class="element">
        <span class="element-title">Catégorie :</span>
        <span class="element-value capitalize">{{ recipe.type }}</span>
      </div>
      <div class="element">
        <span class="element-title">Temps :</span>
        <span class="element-value">{{ recipe.duration }} min</span>
      </div>
      <div class="element">
        <span class="element-title">Part(s) :</span>
        <span class="element-value">{{ recipe.partNumber }}</span>
      </div>
    </div>
    <div class="infos table">
      <span class="title">Ingrédients</span>
      <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
        @for (ingredient of recipe.ingredients; track $index) {
        <mat-chip-option
          [appStrikeThrough]="ingredient.checked!"
          [selected]="ingredient.checked"
          (click)="toggleChecked(ingredient)"
        >
          {{ ingredient.name }} ({{ ingredient.quantity }}
          {{
            ingredient.quantity > 1
              ? removeParentheses(ingredient.unity)
              : removeS(ingredient.unity)
          }})
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div class="infos table">
      <span class="title">Etapes</span>
      <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
        @for (step of recipe.steps; track $index) {
        <mat-chip-option
          [appStrikeThrough]="step.checked!"
          [selected]="step.checked"
          (click)="toggleChecked(step)"
        >
          {{ step.description }}
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div class="button-container no-print">
      <a (click)="downloadPDF()" title="Télécharger recette" class="download">
        <i class="bx bxs-file-pdf"></i>
        <span class="text">Télécharger</span>
      </a>
      <a [routerLink]="'/editer-recette/' + recipe.id" title="Modifier recette">
        <i class="bx bxs-edit-alt"></i>
        <span class="text">Modifier</span>
      </a>
      <a (click)="openDialog()" title="Supprimer recette" class="delete">
        <i class="bx bxs-trash"></i>
        <span class="text">Supprimer</span>
      </a>
    </div>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
