<section id="to-download">
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
  @if (!loading) {
  <div class="content">
    @if (recipe.picture) {
    <img [src]="recipe.picture" [alt]="recipe.name" />
    } @else {
    <img
      [src]="imagePath + 'Default-recipe.webp'"
      [alt]="recipe.name"
      class="empty"
    />
    }
    <div class="infos">
      <div class="element">
        <span class="element-title">Catégorie :</span>
        <span class="element-value capitalize">{{ recipe.type }}</span>
      </div>
      <div class="element">
        <span class="element-title">Temps :</span>
        <span class="element-value">{{ recipe.duration }} min</span>
      </div>
    </div>
    <div class="infos table">
      <span class="title">Ingrédients</span>
      <ol>
        @for (ingredient of recipe.ingredients; track $index) {
        <li>
          <span class="name">{{ ingredient.name }}</span>
          <div class="quantity-container">
            <span>{{ ingredient.quantity }}</span>
            <span>{{ ingredient.unity }}</span>
          </div>
        </li>
        } @empty {
        <li>Pas d'ingrédients</li>
        }
      </ol>
    </div>
    <div class="infos table">
      <span class="title">Etapes</span>
      <ol>
        @for (step of recipe.steps; track $index) {
        <li>
          {{ step.description }}
        </li>
        }@empty {
        <li>Pas d'étapes</li>
        }
      </ol>
    </div>
    <div class="button-container no-print">
      <a (click)="downloadPDF()" title="Télécharger recette" class="download">
        <i class="bx bxs-file-pdf"></i>
        <span class="text">Télécharger</span>
      </a>
      <a [routerLink]="'/editer-recette/' + recipe.id" title="Modifier recette">
        <i class="bx bxs-edit-alt"></i>
        <span class="text">Modifier</span>
      </a>
      <a (click)="openDialog()" title="Supprimer recette" class="delete">
        <i class="bx bxs-trash"></i>
        <span class="text">Supprimer</span>
      </a>
    </div>
  </div>
  }
</section>
