section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

section .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

section .flex button {
  cursor: pointer;
  background-color: var(--background-nav);
  color: var(--accent);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--light-radius);
  border: none;
  transition: 0.5s ease;
}

section .flex button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .flex button img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

section .flex button .text {
  font-size: 20px;
  font-weight: 500;
  width: 150px;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section .flex button .text .number {
  font-weight: bold;
  color: var(--secondary);
}

@media screen and (max-width: 716px) {
  section {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  section .flex button {
    width: 280px;
    height: 180px;
    padding: 10px;
  }

  section .flex button img {
    width: 120px;
    height: 120px;
  }

  section .flex button .text {
    width: 140px;
  }
}
