<section id="to-download">
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
  @if (!loading) {
  <div class="content">
    @if (recipe.picture) {
    <img [src]="recipe.picture" [alt]="recipe.name" />
    } @else {
    <img
      [src]="imagePath + 'Default-recipe.webp'"
      [alt]="recipe.name"
      class="empty"
    />
    }
    <div class="infos">
      <div class="element">
        <span class="element-title">{{ "form.type" | translate }} :</span>
        @if (recipe.type === RecipeType.STARTER) {
        <span class="element-value capitalize">{{
          "selection.starter" | translate
        }}</span>
        } @else if (recipe.type === RecipeType.MAIN) {
        <span class="element-value capitalize">{{
          "selection.main" | translate
        }}</span>
        } @else if (recipe.type === RecipeType.DESSERT) {
        <span class="element-value capitalize">{{
          "selection.dessert" | translate
        }}</span>
        } @else if (recipe.type === RecipeType.DRINK) {
        <span class="element-value capitalize">{{
          "selection.drink" | translate
        }}</span>
        }
      </div>
      <div class="element">
        <span class="element-title">{{ "form.duration" | translate }} :</span>
        <span class="element-value">{{ recipe.duration }} min</span>
      </div>
      <div class="element">
        <span class="element-title"
          >{{ "form.parts-number" | translate }} :</span
        >
        <span class="element-value">{{ recipe.partNumber }}</span>
      </div>
    </div>
    <div class="infos table">
      <span class="title">{{ "form.ingredients" | translate }}</span>
      <div class="flex">
        @for (ingredient of recipe.ingredients; track $index; let i = $index) {
        <mat-checkbox
          [checked]="ingredient.checked"
          (change)="toggleChecked(ingredient)"
        >
          {{ ingredient.name }} ({{ ingredient.quantity }})
        </mat-checkbox>
        }
      </div>
    </div>
    <div class="button-container no-print ingredients">
      <a
        (click)="toggleCheckAll()"
        [title]="
          (!isAllTicked() ? 'buttons.check-all' : 'buttons.uncheck-all')
            | translate
        "
        class="download check"
      >
        @if(!isAllTicked()) {
        <i class="bx bx-checkbox-checked"></i>
        <span class="text">{{ "buttons.check-all" | translate }}</span>
        } @else {
        <i class="bx bx-checkbox"></i>
        <span class="text">{{ "buttons.uncheck-all" | translate }}</span>
        }
      </a>
      <a
        (click)="addToShoppingList()"
        [title]="'buttons.add-to-list' | translate"
        class="check"
      >
        <i class="bx bxs-cart"></i>
        <span class="text">{{ "buttons.add-to-list" | translate }}</span>
      </a>
    </div>
    <div class="infos table">
      <span class="title">{{ "form.steps" | translate }}</span>
      <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
        @for (step of recipe.steps; track $index) {
        <mat-chip-option
          [appStrikeThrough]="step.checked!"
          [selected]="step.checked"
          (click)="toggleChecked(step)"
        >
          {{ step.description }}
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div class="button-container no-print">
      <a
        (click)="downloadPDF()"
        [title]="'buttons.download' | translate"
        class="download"
      >
        <i class="bx bxs-file-pdf"></i>
        <span class="text">{{ "buttons.download" | translate }}</span>
      </a>
      <a
        (click)="export()"
        [title]="'buttons.export' | translate"
        class="download"
      >
        <i class="bx bxs-file-json"></i>
        <span class="text">{{ "buttons.export" | translate }}</span>
      </a>
      <a
        [routerLink]="'/edit-recipe/' + recipe.id"
        [title]="'buttons.update' | translate"
      >
        <i class="bx bxs-edit-alt"></i>
        <span class="text">{{ "buttons.update" | translate }}</span>
      </a>
      <a
        (click)="openDialog()"
        [title]="'buttons.delete' | translate"
        class="delete"
      >
        <i class="bx bxs-trash"></i>
        <span class="text">{{ "buttons.delete" | translate }}</span>
      </a>
    </div>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
