<section id="to-download">
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
  @if (!loading) {
  <div class="content">
    @if (recipe.picture) {
    <img [src]="recipe.picture" [alt]="recipe.name" />
    } @else {
    <img
      [src]="imagePath + 'Default-recipe.webp'"
      [alt]="recipe.name"
      class="empty"
    />
    }
    <div class="infos">
      <div class="element">
        <span class="element-title">Type :</span>
        <span class="element-value capitalize">{{ recipe.type }}</span>
      </div>
      <div class="element">
        <span class="element-title">Duration :</span>
        <span class="element-value">{{ recipe.duration }} min</span>
      </div>
      <div class="element">
        <span class="element-title">Part(s) :</span>
        <span class="element-value">{{ recipe.partNumber }}</span>
      </div>
    </div>
    <div class="infos table">
      <span class="title">Ingredients</span>
      <div class="flex">
        @for (ingredient of recipe.ingredients; track $index; let i = $index) {
        <mat-checkbox
          [checked]="ingredient.checked"
          (change)="toggleChecked(ingredient)"
        >
          {{ ingredient.name }} ({{ ingredient.quantity }})
        </mat-checkbox>
        }
      </div>
    </div>
    <div class="button-container no-print ingredients">
      <a
        (click)="toggleCheckAll()"
        [title]="!isAllTicked() ? 'Check All' : 'Uncheck All'"
        class="download ingredient"
      >
        @if(!isAllTicked()) {
        <i class="bx bx-checkbox-checked"></i>
        <span class="text">Check All</span>
        } @else {
        <i class="bx bx-checkbox"></i>
        <span class="text">Uncheck All</span>
        }
      </a>
      <a
        (click)="addToShoppingList()"
        title="Add to Shopping List"
        class="ingredient"
      >
        <i class="bx bxs-cart"></i>
        <span class="text">Add to List</span>
      </a>
    </div>
    <div class="infos table">
      <span class="title">Steps</span>
      <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
        @for (step of recipe.steps; track $index) {
        <mat-chip-option
          [appStrikeThrough]="step.checked!"
          [selected]="step.checked"
          (click)="toggleChecked(step)"
        >
          {{ step.description }}
        </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div class="button-container no-print">
      <a (click)="downloadPDF()" title="Download recipe" class="download">
        <i class="bx bxs-file-pdf"></i>
        <span class="text">Download</span>
      </a>
      <a (click)="export()" title="Export recipe" class="download">
        <i class="bx bxs-file-json"></i>
        <span class="text">Export</span>
      </a>
      <a [routerLink]="'/edit-recipe/' + recipe.id" title="Update recipe">
        <i class="bx bxs-edit-alt"></i>
        <span class="text">Update</span>
      </a>
      <a (click)="openDialog()" title="Delete recipe" class="delete">
        <i class="bx bxs-trash"></i>
        <span class="text">Delete</span>
      </a>
    </div>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
