@for (group of groupedIngredients; track $index) {
<div class="infos">
  <span class="title">{{ group.category }}</span>
  <mat-chip-listbox multiple class="mat-mdc-chip-set-stacked">
    @for (ingredient of group.ingredients; track $index) {
    <mat-chip-option
      [appStrikeThrough]="ingredient.checked!"
      [selected]="ingredient.checked"
      (click)="toggleChecked(ingredient)"
    >
      {{ ingredient.name }} ({{ ingredient.quantity }})
    </mat-chip-option>
    }
  </mat-chip-listbox>
</div>
}
<div class="button-container no-print">
  <a
    (click)="downloadPDF()"
    title="Télécharger liste de courses"
    class="download"
  >
    <i class="bx bxs-file-pdf"></i>
    <span class="text">Télécharger</span>
  </a>
  <a (click)="update()" title="Modifier liste de courses">
    <i class="bx bxs-edit-alt"></i>
    <span class="text">Modifier</span>
  </a>
  <a (click)="openDialog()" title="Supprimer liste de courses" class="delete">
    <i class="bx bxs-trash"></i>
    <span class="text">Supprimer</span>
  </a>
</div>
