:host {
  width: 100%;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  background-color: var(--background-nav);
  border-radius: var(--light-radius);
  padding: 10px 0 20px 0;
}

.infos .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent);
}

mat-chip-listbox {
  width: 90%;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: var(--primary) !important;
  font-size: 17px;
  text-wrap: wrap;
}

::ng-deep .mat-chip-option.strike-through {
  text-decoration: line-through !important;
}

::ng-deep .mat-mdc-chip-selected .mat-mdc-chip-focus-overlay,
.mat-mdc-chip-highlighted .mat-mdc-chip-focus-overlay {
  background: transparent !important;
}

::ng-deep .mat-mdc-chip-focus-overlay {
  background: transparent !important;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__checkmark {
  color: var(--primary) !important;
}

::ng-deep .mat-mdc-standard-chip {
  height: auto !important;
  padding: 5px;
  background-color: var(--accent) !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.button-container a {
  cursor: pointer;
  background-color: var(--background-nav);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 140px;
  text-decoration: none;
  margin-top: 20px;
}

.button-container .download {
  color: rgb(0, 106, 255);
}

.button-container a i {
  font-size: 30px;
}

.button-container a .text {
  font-size: 20px;
  font-weight: 500;
}

.button-container a:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.button-container .download:hover {
  background-color: rgb(0, 106, 255);
  color: var(--primary);
}

.button-container .delete {
  color: red;
}

.button-container .delete:hover {
  background-color: red;
}
