<form [formGroup]="groceryForm" class="content" (ngSubmit)="submitForm()">
  <div formArrayName="ingredients" class="container">
    @for (ingredient of ingredients.controls; track ingredient; let i = $index)
    {
    <div class="ingredients" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (groceryForm.get('name')?.invalid) {
        <mat-error>
          @if (groceryForm.get('name')!.hasError('required')) {
          <span>Element is required</span>
          } @if (groceryForm.get('name')!.hasError('minlength')) {
          <span>Element is too short</span>
          } @if (groceryForm.get('name')!.hasError('maxlength')) {
          <span>Element is too long</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" type="text" />
        @if (groceryForm.get('quantity')?.invalid) {
        <mat-error>
          @if (groceryForm.get('quantity')!.hasError('required')) {
          <span>Element is required</span>
          } @if (groceryForm.get('quantity')!.hasError('minlength')) {
          <span>Element is too short</span>
          } @if (groceryForm.get('quantity')!.hasError('maxlength')) {
          <span>Element is too long</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" class="cap">
          @for (category of IngredientCategory; track $index) {
          <mat-option [value]="category" class="cap-option">{{
            category
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <a (click)="removeIngredient(i)" title="Supprimer ingrédient">
        <i class="bx bxs-trash"></i>
      </a>
    </div>
    }
  </div>
  <div class="add-container">
    <button type="button" (click)="addIngredient()" title="Add ingredient">
      <i class="bx bx-plus"></i>
      <span class="text">Add</span>
    </button>
  </div>
  <div class="button-container">
    <button type="submit" title="Validate shopping list">
      <i class="bx bxs-cart-download"></i>
      <span class="text">Validate</span>
    </button>
  </div>
</form>
