<form [formGroup]="groceryForm" class="content" (ngSubmit)="submitForm()">
  <div formArrayName="ingredients" class="container">
    @for (ingredient of ingredients.controls; track ingredient; let i = $index)
    {
    <div class="ingredients" [formGroupName]="i">
      <mat-form-field>
        <mat-label>{{ "form.name" | translate }}</mat-label>
        <input matInput formControlName="name" />
        @if (groceryForm.get('name')?.invalid) {
        <mat-error>
          @if (groceryForm.get('name')!.hasError('required')) {
          <span>{{ "form.error.required" | translate }}</span>
          } @if (groceryForm.get('name')!.hasError('minlength')) {
          <span>{{ "form.error.minlength" | translate }}</span>
          } @if (groceryForm.get('name')!.hasError('maxlength')) {
          <span>{{ "form.error.maxlength" | translate }}</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "form.quantity" | translate }}</mat-label>
        <input matInput formControlName="quantity" type="text" />
        @if (groceryForm.get('quantity')?.invalid) {
        <mat-error>
          @if (groceryForm.get('quantity')!.hasError('required')) {
          <span>{{ "form.error.required" | translate }}</span>
          } @if (groceryForm.get('quantity')!.hasError('minlength')) {
          <span>{{ "form.error.minlength" | translate }}</span>
          } @if (groceryForm.get('quantity')!.hasError('maxlength')) {
          <span>{{ "form.error.maxlength" | translate }}</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "form.category" | translate }}</mat-label>
        <mat-select formControlName="category" class="cap">
          @for (category of IngredientCategory; track $index) {
          <mat-option [value]="category" class="cap-option">{{
            category | translate
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        type="button"
        (click)="removeIngredient(i)"
        [title]="'buttons.delete' | translate"
      >
        <i class="bx bxs-trash"></i>
      </button>
    </div>
    }
  </div>
  <div class="add-container">
    <button
      type="button"
      (click)="addIngredient()"
      [title]="'buttons.add' | translate"
    >
      <i class="bx bx-plus"></i>
      <span class="text">{{ "buttons.add" | translate }}</span>
    </button>
  </div>
  <div class="button-container">
    <button type="submit" [title]="'buttons.save' | translate">
      <i class="bx bxs-cart-download"></i>
      <span class="text">{{ "buttons.save" | translate }}</span>
    </button>
  </div>
</form>
