<section>
  <div class="flex">
    <a [routerLink]="'/recipes/' + RecipeType.STARTER" title="Starters">
      <img [src]="imagePath + 'selection/Starters.webp'" alt="Starters.webp" />
      <span class="text"
        >Starters (<span class="number">{{ counts()[0] }}</span
        >)</span
      >
    </a>
    <a [routerLink]="'/recipes/' + RecipeType.MAIN" title="Mains">
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Mains.webp" />
      <span class="text"
        >Mains (<span class="number">{{ counts()[1] }}</span
        >)</span
      >
    </a>
  </div>
  <div class="flex">
    <a [routerLink]="'/recipes/' + RecipeType.DESSERT" title="Desserts">
      <img [src]="imagePath + 'selection/Desserts.webp'" alt="Desserts.webp" />
      <span class="text"
        >Desserts (<span class="number">{{ counts()[2] }}</span
        >)</span
      >
    </a>
    <a [routerLink]="'/recipes/' + RecipeType.DRINK" title="Drinks">
      <img [src]="imagePath + 'selection/Drinks.webp'" alt="Drinks.webp" />
      <span class="text"
        >Drinks (<span class="number">{{ counts()[3] }}</span
        >)</span
      >
    </a>
  </div>
</section>
