<section id="to-download">
  <div class="title">
    @if (updateMode) {
    <h1>Modifier Courses</h1>
    } @else if (formSubmitted) {
    <h1>Aller Courses</h1>
    } @else {
    <h1>Ajouter Courses</h1>
    }
  </div>
  @if (!loading) {
  <div class="content">
    @if(!formSubmitted) { @if (updateMode) {
    <app-modifier-courses
      [shopping]="shopping"
      (submitFormEvent)="updateShopping($event, false)"
    ></app-modifier-courses>
    } @else {
    <app-ajouter-courses
      [shopping]="shopping"
      (submitFormEvent)="addShopping($event)"
    ></app-ajouter-courses>
    } } @else {
    <app-consulter-courses
      [shopping]="shopping"
      (deleteEvent)="deleteShopping()"
      (downloadEvent)="downloadPDF()"
      (updateEvent)="toggleUpdateMode()"
      (strikeEvent)="updateShoppingWithDelay()"
    ></app-consulter-courses>
    }
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
