<section>
  <div class="flex">
    <button
      type="button"
      [routerLink]="'/recipes/' + RecipeType.STARTER"
      [title]="('selection.starter' | translate) + 's'"
    >
      <img [src]="imagePath + 'selection/Starters.webp'" alt="Starters.webp" />
      <span class="text"
        >{{ "selection.starter" | translate }}s (<span class="number">{{
          counts()[0]
        }}</span
        >)</span
      >
    </button>
    <button
      type="button"
      [routerLink]="'/recipes/' + RecipeType.MAIN"
      [title]="('selection.main' | translate) + 's'"
    >
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Mains.webp" />
      <span class="text"
        >{{ "selection.main" | translate }}s (<span class="number">{{
          counts()[1]
        }}</span
        >)</span
      >
    </button>
  </div>
  <div class="flex">
    <button
      type="button"
      [routerLink]="'/recipes/' + RecipeType.DESSERT"
      [title]="('selection.dessert' | translate) + 's'"
    >
      <img [src]="imagePath + 'selection/Desserts.webp'" alt="Desserts.webp" />
      <span class="text"
        >{{ "selection.dessert" | translate }}s (<span class="number">{{
          counts()[2]
        }}</span
        >)</span
      >
    </button>
    <button
      type="button"
      [routerLink]="'/recipes/' + RecipeType.DRINK"
      [title]="('selection.drink' | translate) + 's'"
    >
      <img [src]="imagePath + 'selection/Drinks.webp'" alt="Drinks.webp" />
      <span class="text"
        >{{ "selection.drink" | translate }}s (<span class="number">{{
          counts()[3]
        }}</span
        >)</span
      >
    </button>
  </div>
</section>
