section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

section .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

section .flex a {
  cursor: pointer;
  background-color: var(--background-nav);
  color: var(--accent);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--light-radius);
  text-decoration: none;
  transition: 0.5s ease;
}

section .flex a:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .flex a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

section .flex a .text {
  font-size: 20px;
  font-weight: 500;
  width: 150px;
  text-align: center;
}

section .flex a .text .number {
  font-weight: bold;
  color: var(--secondary);
}

@media screen and (max-width: 936px) {
  section .flex a img {
    width: 100px;
    height: 100px;
  }

  section .flex a .text {
    width: 120px;
  }

  section .flex a {
    padding: 20px;
  }
}

@media screen and (max-width: 716px) {
  section {
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  section .flex a {
    padding: 10px;
  }

  section .flex a .text {
    width: 100px;
  }
}
