button {
  cursor: pointer;
  background-color: var(--background-nav);
  color: var(--accent);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--light-radius);
  border: none;
  transition: 0.5s ease;
}

button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

button img {
  width: 220px;
  height: 150px;
  border-radius: var(--light-radius);
  object-fit: cover;
}

button img.empty {
  background-color: white;
}

button .infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  max-width: 220px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button .title {
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button .duration {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
}
