<button
  type="button"
  [routerLink]="'/recipes/' + recipe().type + '/' + recipe().id"
  [title]="recipe().name"
>
  @if (recipe().picture) {
  <img [src]="recipe().picture" [alt]="recipe().name" />
  } @else {
  <img
    [src]="imagePath + 'Default-recipe.webp'"
    [alt]="recipe().name"
    class="empty"
  />
  }
  <div class="infos">
    <span class="title">{{ recipe().name }}</span>
    <div class="flex">
      @if(recipe().price) {
      <span class="elem">{{ recipe().price }} €</span>
      <span class="elem">|</span>
      }
      <span class="elem">{{ recipe().duration }} min</span>
    </div>
  </div>
</button>
