<section>
  <div class="title">
    <h2>{{ "welcome.title" | translate }}</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Recipe.webp" />
      <span>
        {{ "welcome.feature1" | translate }}
      </span>
    </div>
    <div class="feature reverse" #feature>
      <span>
        {{ "welcome.feature2" | translate }}
      </span>
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Share.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Shopping1.webp" />
      <span>
        {{ "welcome.feature3" | translate }}
      </span>
    </div>
    <div class="feature reverse" #feature>
      <span>
        {{ "welcome.feature4" | translate }}
      </span>
      <img [src]="imagePath + 'selection/Mains.webp'" alt="Shopping2.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'selection/Mains.webp'" alt="AI.webp" />
      <span>
        {{ "welcome.feature5" | translate }}
      </span>
    </div>
  </div>
  <div class="pricing">
    <h2>{{ "welcome.pricing.title" | translate }}</h2>
    <div class="pricing-cards">
      <div class="pricing-card">
        <h3>{{ "welcome.pricing.per-month.title" | translate }}</h3>
        <p class="price">
          {{ "welcome.pricing.per-month.price" | translate }}
          <span>{{ "welcome.pricing.per-month.description" | translate }}</span>
        </p>
        <ul>
          <li>{{ "welcome.pricing.per-month.access" | translate }}</li>
          <li>{{ "welcome.pricing.per-month.renewal" | translate }}</li>
        </ul>
        <a [title]="'connect.subscribe' | translate">
          <i class="bx bx-credit-card"></i>
          <span class="text">{{ "connect.subscribe" | translate }}</span>
        </a>
      </div>
      <div class="pricing-card">
        <h3>{{ "welcome.pricing.life.title" | translate }}</h3>
        <p class="price">
          {{ "welcome.pricing.life.price" | translate }}
          <span>{{ "welcome.pricing.life.description" | translate }}</span>
        </p>
        <ul>
          <li>{{ "welcome.pricing.life.access" | translate }}</li>
          <li>{{ "welcome.pricing.life.renewal" | translate }}</li>
        </ul>
        <a [title]="'connect.buy' | translate">
          <i class="bx bx-wallet"></i>
          <span class="text">{{ "connect.buy" | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="cgv">
    <h2>{{ "welcome.cgv.title" | translate }}</h2>
    <p>
      {{ "welcome.cgv.accept" | translate }}
      <a href="cgv.html">{{ "welcome.cgv.cgv-text" | translate }}</a
      >.
      {{ "welcome.cgv.description" | translate }}
    </p>
  </div>
</section>
