<nav class="nav close">
  <header>
    <div class="image">
      <img [src]="imagePath + 'Logo.webp'" alt="Foodlove" title="Foodlove" />
      <span class="title">Foodlove</span>
    </div>
    <i class="bx bx-chevron-right toggle" (click)="openCloseNav()"></i>
  </header>
  <div class="menu">
    <button
      type="button"
      routerLink="/recipes/selection"
      [class.active]="router.url.startsWith('/recipes')"
      [title]="'nav.recipes' | translate"
    >
      <i class="bx bxs-bowl-hot"></i>
      <span class="text">{{ "nav.recipes" | translate }}</span>
    </button>
    <button
      type="button"
      routerLink="/shopping"
      routerLinkActive="active"
      [title]="'nav.shopping' | translate"
    >
      <i class="bx bxs-cart"></i>
      <span class="text">{{ "nav.shopping" | translate }}</span>
    </button>
    <button
      type="button"
      routerLink="/menus"
      routerLinkActive="active"
      [title]="'nav.menus' | translate"
    >
      <i class="bx bxs-fridge"></i>
      <span class="text">{{ "nav.menus" | translate }}</span>
    </button>
    <button
      type="button"
      routerLink="/profile"
      routerLinkActive="active"
      [title]="'nav.profile' | translate"
    >
      <i class="bx bxs-user"></i>
      <span class="text">{{ "nav.profile" | translate }}</span>
    </button>
  </div>
  <div class="footer">
    <button
      type="button"
      (click)="changeMode()"
      [title]="
        (prefersDarkMode() ? 'nav.bright-mode' : 'nav.dark-mode') | translate
      "
    >
      @if (prefersDarkMode()) {
      <i class="bx bxs-sun"></i>
      <span class="text">{{ "nav.bright-mode" | translate }}</span>
      } @else {
      <i class="bx bxs-moon"></i>
      <span class="text">{{ "nav.dark-mode" | translate }}</span>
      }
    </button>
    <button type="button" [title]="'nav.logout' | translate" (click)="logout()">
      <i class="bx bxs-log-out"></i>
      <span class="text">{{ "nav.logout" | translate }}</span>
    </button>
  </div>
</nav>
