<nav class="nav close">
  <header>
    <div class="image">
      <img [src]="imagePath + 'Logo.webp'" alt="Foodlove" title="Foodlove" />
      <span class="title">Foodlove</span>
    </div>
    <i class="bx bx-chevron-right toggle" (click)="openCloseNav()"></i>
  </header>
  <div class="menu">
    <a
      routerLink="/recipes/selection"
      [class.active]="router.url.startsWith('/recipes')"
      title="Recipes"
    >
      <i class="bx bxs-bowl-hot"></i>
      <span class="text">Recipes</span>
    </a>
    <a routerLink="/edit-recipe" routerLinkActive="active" title="Edit Recipe">
      <i class="bx bxs-layer-plus"></i>
      <span class="text">Edit Recipe</span>
    </a>
    <a routerLink="/profile" routerLinkActive="active" title="Profile">
      <i class="bx bxs-user"></i>
      <span class="text">Profile</span>
    </a>
    <a routerLink="/shopping" routerLinkActive="active" title="Shopping">
      <i class="bx bxs-cart"></i>
      <span class="text">Shopping</span>
    </a>
  </div>
  <div class="footer">
    <a
      (click)="changeMode()"
      [title]="prefersDarkMode() ? 'Bright Mode' : 'Dark Mode'"
    >
      @if (prefersDarkMode()) {
      <i class="bx bxs-sun"></i>
      <span class="text">Bright Mode</span>
      } @else {
      <i class="bx bxs-moon"></i>
      <span class="text">Dark Mode</span>
      }
    </a>
    <a title="Logout" (click)="logout()">
      <i class="bx bxs-log-out"></i>
      <span class="text">Logout</span>
    </a>
  </div>
</nav>
