section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .title h1 {
  color: var(--accent);
  text-transform: uppercase;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

@media screen and (max-width: 400px) {
  section .content {
    width: 100%;
  }
}
