<section>
  <div class="title">
    <h1>{{ "title" | translate }}</h1>
  </div>
  @if (isRegistering || isLogin) {
  <div class="back-container">
    <a
      (click)="toggleLoginOrRegister('welcome')"
      [title]="'connect.back' | translate"
      class="unactive"
    >
      <i class="bx bxs-left-arrow-circle"></i>
      <span class="text">{{ "connect.back" | translate }}</span>
    </a>
  </div>
  }
  <div class="button-container">
    @if(isRegistering || isLogin) {
    <a
      (click)="toggleLoginOrRegister('register')"
      [title]="'connect.register' | translate"
      [ngClass]="isRegistering ? 'active' : 'unactive'"
    >
      <i class="bx bx-pencil"></i>
      <span class="text">{{ "connect.register" | translate }}</span>
    </a>
    }
    <a
      (click)="toggleLoginOrRegister('login')"
      [title]="'connect.login' | translate"
      [ngClass]="isLogin ? 'active' : 'unactive'"
    >
      <i class="bx bx-user-circle"></i>
      <span class="text">{{ "connect.login" | translate }}</span>
    </a>
  </div>
  <div class="content">
    @if(!isRegistering && !isLogin) {
    <app-welcome
      (selectPlanEvent)="toggleLoginOrRegister($event)"
    ></app-welcome>
    } @else if (isRegistering) {
    <app-register [selectedPlan]="page"></app-register>
    } @else if(isLogin) {
    <app-login></app-login>
    }
  </div>
</section>
