section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1200px;
  width: 95%;
}

section h1 {
  font-size: 20px;
  color: var(--accent);
  text-align: center;
}

section .content {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-height: 75vh;
  overflow-y: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

form mat-stepper {
  width: 100%;
  background-color: transparent;
}

form mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

form mat-form-field mat-error {
  margin-top: 2px;
}

form mat-form-field mat-error span {
  font-size: 16px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 170px;
  border: none;
  background-color: var(--background-nav);
}

.add-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

button i {
  font-size: 30px;
}

button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a i {
  font-size: 30px;
}

a .text {
  font-size: 20px;
  font-weight: 500;
}

form .ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form .ingredients mat-form-field {
  margin-bottom: 0;
}

.ingredients button {
  cursor: pointer;
  background-color: var(--background-nav);
  color: red;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  margin-top: -20px;
  border: none;
}

.ingredients button:hover {
  background-color: red;
  color: var(--primary);
}

.mat-icon {
  color: var(--accent);
}

.cap-option {
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 150px;
  border: none;
  background-color: var(--background-nav);
}

section .button-container .delete {
  color: red;
  transition: 0.5s ease;
}

section .button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .delete:hover {
  background-color: red;
}

section .button-container button i {
  font-size: 40px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form
  ::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--background-nav) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(
    .mdc-text-field--disabled
  ).mdc-text-field--invalid:not(.mdc-text-field--disabled):hover
  .mdc-floating-label {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid
  .mdc-floating-label {
  color: red !important;
}

::ng-deep .mat-mdc-form-field-error {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --secondary: red;
  --accent: red;
}

::ng-deep .cap .mat-mdc-select-value-text {
  text-transform: capitalize !important;
}

::ng-deep form .slide-container .mat-mdc-slider {
  width: 80%;
}

::ng-deep .mdc-slider__track--active_fill {
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__track--inactive {
  background-color: rgb(183, 183, 183) !important;
}

::ng-deep .mdc-slider__thumb-knob {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__value-indicator {
  background-color: var(--accent) !important;
}

::ng-deep .mat-step-icon {
  background-color: var(--background-nav) !important;
  color: var(--accent) !important;
}

::ng-deep .mat-step-icon-state-edit {
  background-color: var(--accent) !important;
}

::ng-deep .mat-step-icon-selected {
  background-color: var(--accent) !important;
  color: var(--background-nav) !important;
}

::ng-deep .mat-step-icon-state-done {
  background-color: var(--accent) !important;
  color: var(--background-nav) !important;
}

::ng-deep .mat-step-label {
  color: var(--secondary) !important;
  font-size: 20px !important;
}

::ng-deep .mat-step-label.mat-step-label-active {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-select {
  color: var(--secondary) !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  fill: var(--accent) !important;
}

@media screen and (max-width: 768px) {
  form .ingredients {
    flex-wrap: wrap;
    margin: 10px 0;
  }

  form .ingredients button {
    margin-top: 0;
  }

  form .add-container {
    margin-top: 10px;
  }

  ::ng-deep
    form
    .ingredients
    mat-form-field
    .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  form .steps {
    flex-wrap: wrap;
    margin: 10px 0;
  }

  form .steps button {
    margin-top: 0;
  }

  ::ng-deep form .steps mat-form-field .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  form {
    width: 100%;
  }

  ::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
  }
}
