<div class="image-container">
  <label for="file" class="import" [title]="'buttons.import' | translate">
    <i class="bx bxs-file-json"></i>
    <span class="text">{{ "buttons.import" | translate }}</span>
  </label>
  <input
    type="file"
    id="file"
    (change)="importRecipes($event)"
    name="files"
    accept=".json"
    multiple
  />
</div>
<form [formGroup]="recipeForm" (ngSubmit)="addUpdateRecipe()">
  <mat-stepper
    [linear]="true"
    #stepper
    background="none"
    orientation="vertical"
  >
    <mat-step [stepControl]="firstFormGroup" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{ "form.recipe" | translate }}</ng-template>
      <mat-form-field>
        <mat-label>{{ "form.name" | translate }}</mat-label>
        <input matInput formControlName="name" />
        @if (firstFormGroup.get('name')!.invalid) {
        <mat-error>
          @if (firstFormGroup.get('name')!.hasError('required')) {
          <span>{{ "form.error.required" | translate }}</span>
          } @if (firstFormGroup.get('name')!.hasError('minlength')) {
          <span>{{ "form.error.minlength" | translate }}</span>
          } @if (firstFormGroup.get('name')!.hasError('maxlength')) {
          <span>{{ "form.error.maxlength" | translate }}</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <div class="slide-container">
        <span>{{ "form.parts-number" | translate }}</span>
        <mat-slider min="1" max="30" discrete step="1">
          <input matSliderThumb formControlName="partNumber" />
        </mat-slider>
      </div>
      <mat-form-field>
        <mat-label>{{ "form.type" | translate }}</mat-label>
        <mat-select formControlName="type" class="cap">
          <mat-option value="starter" class="cap-option">{{
            "selection.starter" | translate
          }}</mat-option>
          <mat-option value="main" class="cap-option">{{
            "selection.main" | translate
          }}</mat-option>
          <mat-option value="dessert" class="cap-option">{{
            "selection.dessert" | translate
          }}</mat-option>
          <mat-option value="drink" class="cap-option">{{
            "selection.drink" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="slide-container">
        <span>{{ "form.duration" | translate }} (min)</span>
        <mat-slider min="5" max="300" discrete step="5">
          <input matSliderThumb formControlName="duration" />
        </mat-slider>
      </div>
      <div class="image-container">
        <label for="image" class="add" [title]="'buttons.add' | translate">
          <i class="bx bxs-image"></i>
          <span class="text">{{ "buttons.add" | translate }}</span>
        </label>
        <input
          type="file"
          id="image"
          (change)="addPicture($any($event.target).files)"
          name="files"
          accept=".jpg, .jpeg, .png, .webp"
        />
        @if (imagePreview) {
        <img [src]="imagePreview" alt="Image preview" />
        }
      </div>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      [formGroup]="secondFormGroup"
      [state]="firstFormGroup.valid ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>{{
        "form.ingredients" | translate
      }}</ng-template>
      <div formArrayName="ingredients">
        @for (ingredient of ingredients.controls; track ingredient; let i =
        $index) {
        <div class="ingredients" [formGroupName]="i">
          <mat-form-field>
            <mat-label>{{ "form.name" | translate }}</mat-label>
            <input matInput formControlName="name" />
            @if (secondFormGroup.get('name')?.invalid) {
            <mat-error>
              @if (secondFormGroup.get('name')!.hasError('required')) {
              <span>{{ "form.error.required" | translate }}</span>
              } @if (secondFormGroup.get('name')!.hasError('minlength')) {
              <span>{{ "form.error.minlength" | translate }}</span>
              } @if (secondFormGroup.get('name')!.hasError('maxlength')) {
              <span>{{ "form.error.maxlength" | translate }}</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ "form.quantity" | translate }}</mat-label>
            <input matInput formControlName="quantity" type="text" />
            @if (secondFormGroup.get('quantity')?.invalid) {
            <mat-error>
              @if (secondFormGroup.get('quantity')!.hasError('required')) {
              <span>{{ "form.error.required" | translate }}</span>
              } @if (secondFormGroup.get('quantity')!.hasError('minlength')) {
              <span>{{ "form.error.minlength" | translate }}</span>
              } @if (secondFormGroup.get('quantity')!.hasError('maxlength')) {
              <span>{{ "form.error.maxlength" | translate }}</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ "form.category" | translate }}</mat-label>
            <mat-select formControlName="category" class="cap">
              @for (category of IngredientCategory; track $index) {
              <mat-option [value]="category" class="cap-option">{{
                category | translate
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <a
            (click)="removeIngredient(i)"
            [title]="'buttons.delete' | translate"
          >
            <i class="bx bxs-trash"></i>
          </a>
        </div>
        }
      </div>
      <div class="add-container">
        <button
          type="button"
          (click)="addIngredient()"
          [title]="'buttons.add' | translate"
        >
          <i class="bx bx-plus"></i>
          <span class="text">{{ "buttons.add" | translate }}</span>
        </button>
      </div>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      [formGroup]="thirdFormGroup"
      [state]="secondFormGroup.valid ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>{{ "form.steps" | translate }}</ng-template>
      <div formArrayName="steps">
        @for (step of steps.controls; track step; let i = $index) {
        <div class="steps" [formGroupName]="i">
          <mat-form-field>
            <mat-label>{{ "form.description" | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
            @if (thirdFormGroup.get('description')?.invalid) {
            <mat-error>
              @if (thirdFormGroup.get('description')!.hasError('required')) {
              <span>{{ "form.error.required" | translate }}</span>
              } @if (thirdFormGroup.get('description')!.hasError('minlength')) {
              <span>{{ "form.error.minlength" | translate }}</span>
              } @if (thirdFormGroup.get('description')!.hasError('maxlength')) {
              <span>{{ "form.error.maxlength" | translate }}</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <a (click)="removeStep(i)" [title]="'buttons.delete' | translate">
            <i class="bx bxs-trash"></i>
          </a>
        </div>
        }
      </div>
      <div class="add-container">
        <button
          type="button"
          (click)="addStep()"
          [title]="'buttons.add' | translate"
        >
          <i class="bx bx-plus"></i>
          <span class="text">{{ "buttons.add" | translate }}</span>
        </button>
      </div>
      <div class="button-container">
        <button type="submit" [title]="'buttons.save' | translate">
          <i class="bx bxs-bowl-rice"></i>
          <span class="text">{{ "buttons.save" | translate }}</span>
        </button>
      </div>
    </mat-step>
    <ng-template matStepperIcon="disabled">
      <i class="bx bx-block"></i>
    </ng-template>
  </mat-stepper>
</form>
