<div class="image-container">
  <label for="file" class="import" title="Import Recipes">
    <i class="bx bxs-file-json"></i>
    <span class="text">Import</span>
  </label>
  <input
    type="file"
    id="file"
    (change)="importRecipes($event)"
    name="files"
    accept=".json"
    multiple
  />
</div>
<form [formGroup]="recipeForm" (ngSubmit)="addUpdateRecipe()">
  <mat-stepper
    [linear]="true"
    #stepper
    background="none"
    orientation="vertical"
  >
    <mat-step [stepControl]="firstFormGroup" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Recipe</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (firstFormGroup.get('name')!.invalid) {
        <mat-error>
          @if (firstFormGroup.get('name')!.hasError('required')) {
          <span>Element is required</span>
          } @if (firstFormGroup.get('name')!.hasError('minlength')) {
          <span>Element is too short</span>
          } @if (firstFormGroup.get('name')!.hasError('maxlength')) {
          <span>Element is too long</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <div class="slide-container">
        <span>Parts number</span>
        <mat-slider min="1" max="30" discrete step="1">
          <input matSliderThumb formControlName="partNumber" />
        </mat-slider>
      </div>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" class="cap">
          @for (type of RecipeType; track $index) {
          <mat-option [value]="type" class="cap-option">{{ type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="slide-container">
        <span>Duration (min)</span>
        <mat-slider min="5" max="300" discrete step="5">
          <input matSliderThumb formControlName="duration" />
        </mat-slider>
      </div>
      <div class="image-container">
        <label for="image" class="add" title="Add image">
          <i class="bx bxs-image"></i>
          <span class="text">Add</span>
        </label>
        <input
          type="file"
          id="image"
          (change)="addPicture($any($event.target).files)"
          name="files"
          accept=".jpg, .jpeg, .png, .webp"
        />
        @if (imagePreview) {
        <img [src]="imagePreview" alt="Image preview" />
        }
      </div>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      [formGroup]="secondFormGroup"
      [state]="firstFormGroup.valid ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>Ingredients</ng-template>
      <div formArrayName="ingredients">
        @for (ingredient of ingredients.controls; track ingredient; let i =
        $index) {
        <div class="ingredients" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            @if (secondFormGroup.get('name')?.invalid) {
            <mat-error>
              @if (secondFormGroup.get('name')!.hasError('required')) {
              <span>Element is required</span>
              } @if (secondFormGroup.get('name')!.hasError('minlength')) {
              <span>Element is too short</span>
              } @if (secondFormGroup.get('name')!.hasError('maxlength')) {
              <span>Element is too long</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" type="text" />
            @if (secondFormGroup.get('quantity')?.invalid) {
            <mat-error>
              @if (secondFormGroup.get('quantity')!.hasError('required')) {
              <span>Element is required</span>
              } @if (secondFormGroup.get('quantity')!.hasError('minlength')) {
              <span>Element is too short</span>
              } @if (secondFormGroup.get('quantity')!.hasError('maxlength')) {
              <span>Element is too long</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" class="cap">
              @for (category of IngredientCategory; track $index) {
              <mat-option [value]="category" class="cap-option">{{
                category
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <a (click)="removeIngredient(i)" title="Delete ingredient">
            <i class="bx bxs-trash"></i>
          </a>
        </div>
        }
      </div>
      <div class="add-container">
        <button type="button" (click)="addIngredient()" title="Add ingredient">
          <i class="bx bx-plus"></i>
          <span class="text">Add</span>
        </button>
      </div>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      [formGroup]="thirdFormGroup"
      [state]="secondFormGroup.valid ? 'number' : 'disabled'"
    >
      <ng-template matStepLabel>Steps</ng-template>
      <div formArrayName="steps">
        @for (step of steps.controls; track step; let i = $index) {
        <div class="steps" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            @if (thirdFormGroup.get('description')?.invalid) {
            <mat-error>
              @if (thirdFormGroup.get('description')!.hasError('required')) {
              <span>Element is required</span>
              } @if (thirdFormGroup.get('description')!.hasError('minlength')) {
              <span>Element is too short</span>
              } @if (thirdFormGroup.get('description')!.hasError('maxlength')) {
              <span>Element is too long</span>
              }
            </mat-error>
            }
          </mat-form-field>
          <a (click)="removeStep(i)" title="Delete step">
            <i class="bx bxs-trash"></i>
          </a>
        </div>
        }
      </div>
      <div class="add-container">
        <button type="button" (click)="addStep()" title="Add step">
          <i class="bx bx-plus"></i>
          <span class="text">Add</span>
        </button>
      </div>
      <div class="button-container">
        <button type="submit" title="Validate recipe">
          <i class="bx bxs-bowl-rice"></i>
          <span class="text">Validate</span>
        </button>
      </div>
    </mat-step>
    <ng-template matStepperIcon="disabled">
      <i class="bx bx-block"></i>
    </ng-template>
  </mat-stepper>
</form>
