<section mat-dialog-content>
  <div class="title">
    @if (recipe.id) {
    <h1>{{ "nav.update-recipe" | translate }}</h1>
    } @else {
    <h1>{{ "nav.add-recipe" | translate }}</h1>
    }
  </div>
  <div class="content">
    <app-recipe-form
      [recipe]="recipe"
      (validateRecipeEvent)="validateRecipe($event)"
    ></app-recipe-form>
    <div class="button-container">
      <button
        type="button"
        [title]="'buttons.cancel' | translate"
        class="delete"
        (click)="cancel()"
      >
        <i class="bx bx-x"></i>
        <span class="text">{{ "buttons.cancel" | translate }}</span>
      </button>
    </div>
  </div>
</section>
