<form [formGroup]="groceryForm">
  <div formArrayName="ingredients" class="container">
    @for (ingredient of ingredients.controls; track ingredient; let i = $index)
    {
    <div class="ingredients" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
        @if (groceryForm.get('name')?.invalid) {
        <mat-error>
          @if (groceryForm.get('name')!.hasError('required')) {
          <span>Le nom de l'ingrédient est obligatoire</span>
          } @if (groceryForm.get('name')!.hasError('minlength')) {
          <span>Le nom de l'ingrédient est trop court</span>
          } @if (groceryForm.get('name')!.hasError('maxlength')) {
          <span>Le nom de l'ingrédient est trop long</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantité</mat-label>
        <input matInput formControlName="quantity" type="text" />
        @if (groceryForm.get('quantity')?.invalid) {
        <mat-error>
          @if (groceryForm.get('quantity')!.hasError('required')) {
          <span>La quantité de l'ingrédient est obligatoire</span>
          } @if (groceryForm.get('quantity')!.hasError('minlength')) {
          <span>La quantité de l'ingrédient est trop court</span>
          } @if (groceryForm.get('quantity')!.hasError('maxlength')) {
          <span>La quantité de l'ingrédient est trop long</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="category" class="cap">
          @for (category of IngredientCategory; track $index) {
          <mat-option [value]="category" class="cap-option">{{
            category
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <a (click)="removeIngredient(i)" title="Supprimer ingrédient">
        <i class="bx bxs-trash"></i>
      </a>
    </div>
    }
  </div>
  <div class="add-container">
    <a (click)="addIngredient()" title="Ajouter ingrédient">
      <i class="bx bx-plus"></i>
      <span class="text">Ajouter</span>
    </a>
  </div>
  <div class="button-container">
    <a (click)="submitForm()" title="Valider recette">
      <i class="bx bxs-cart-download"></i>
      <span class="text">Valider</span>
    </a>
  </div>
</form>
