<section>
  <div class="title">
    @if (type === RecipeType.SELECTION) {
    <h1>{{ "selection.selection" | translate }}</h1>
    } @else if (type === RecipeType.STARTER) {
    <h1>{{ "selection.starter" | translate }}s</h1>
    } @else if (type === RecipeType.MAIN) {
    <h1>{{ "selection.main" | translate }}s</h1>
    } @else if (type === RecipeType.DESSERT) {
    <h1>{{ "selection.dessert" | translate }}s</h1>
    } @else if (type === RecipeType.DRINK) {
    <h1>{{ "selection.drink" | translate }}s</h1>
    }
  </div>
  @if (!loading) {
  <div class="content">
    @if (type === RecipeType.SELECTION) {
    <app-selection
      [counts]="[
        starterRecipes.length,
        mainRecipes.length,
        dessertRecipes.length,
        drinkRecipes.length
      ]"
    ></app-selection>
    } @else if (type === RecipeType.STARTER) {
    <app-recipes-per-type
      [recipes]="starterRecipes"
      (addRecipeEvent)="openDialogs(RecipeType.STARTER)"
      (importRecipesEvent)="importRecipes($event)"
    ></app-recipes-per-type>
    } @else if (type === RecipeType.MAIN) {
    <app-recipes-per-type
      [recipes]="mainRecipes"
      (addRecipeEvent)="openDialogs(RecipeType.MAIN)"
      (importRecipesEvent)="importRecipes($event)"
    ></app-recipes-per-type>
    } @else if (type === RecipeType.DESSERT) {
    <app-recipes-per-type
      [recipes]="dessertRecipes"
      (addRecipeEvent)="openDialogs(RecipeType.DESSERT)"
      (importRecipesEvent)="importRecipes($event)"
    ></app-recipes-per-type>
    } @else if (type === RecipeType.DRINK) {
    <app-recipes-per-type
      [recipes]="drinkRecipes"
      (addRecipeEvent)="openDialogs(RecipeType.DRINK)"
      (importRecipesEvent)="importRecipes($event)"
    ></app-recipes-per-type>
    }
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
