<section id="to-download">
  <div class="title">
    @if (updateMode) {
    <h1>{{ "nav.update-shopping" | translate }}</h1>
    } @else if (formSubmitted) {
    <h1>{{ "nav.shopping-list" | translate }}</h1>
    } @else {
    <h1>{{ "nav.add-shopping" | translate }}</h1>
    }
  </div>
  @if (!loading) {
  <div class="content">
    @if(!formSubmitted) {
    <app-shopping-form
      [shoppings]="shoppings"
      (submitFormEvent)="updateShoppings($event)"
    ></app-shopping-form>
    } @else {
    <app-shopping-list
      [shoppings]="shoppings"
      (cleanEvent)="updateShoppings($event)"
      (deleteEvent)="deleteShoppings()"
      (downloadEvent)="downloadPDF()"
      (updateEvent)="toggleUpdateMode()"
      (strikeEvent)="updateShoppingWithDelay($event)"
    ></app-shopping-list>
    }
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
