<section>
  <div class="title">
    <h1>{{ type }}s</h1>
  </div>
  @if (!loading) {
  <div class="content">
    @if (type === RecipeType.SELECTION) {
    <app-menu
      [counts]="[
        starterRecipes.length,
        mainRecipes.length,
        dessertRecipes.length,
        drinkRecipes.length
      ]"
    ></app-menu>
    } @else if (type === RecipeType.STARTER) {
    <app-recettes-par-type [recipes]="starterRecipes"></app-recettes-par-type>
    } @else if (type === RecipeType.MAIN) {
    <app-recettes-par-type [recipes]="mainRecipes"></app-recettes-par-type>
    } @else if (type === RecipeType.DESSERT) {
    <app-recettes-par-type [recipes]="dessertRecipes"></app-recettes-par-type>
    } @else if (type === RecipeType.DRINK) {
    <app-recettes-par-type [recipes]="drinkRecipes"></app-recettes-par-type>
    }
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
