section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .title h1 {
  color: var(--accent);
  text-transform: uppercase;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
  gap: 20px;
  padding: 20px 0;
  background-color: var(--primary);
  border-radius: var(--light-radius);
}

section .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

section .button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 160px;
  border: none;
  background-color: var(--background-nav);
}

section .button-container .delete {
  color: red;
  transition: 0.5s ease;
  width: 210px;
}

section .button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .delete:hover {
  background-color: red;
}

section .button-container button i {
  font-size: 30px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}
