<section>
  <div class="title">
    <h1>{{ "nav.profile" | translate }}</h1>
  </div>
  @if (!loading) {
  <div class="content">
    <app-security
      [user]="userService.currentUserSig()!"
      (updateEvent)="openUpdateDialog()"
    ></app-security>
  </div>
  <div class="button-container">
    <button
      type="button"
      (click)="openDialog()"
      [title]="'buttons.delete-profile' | translate"
      class="delete"
    >
      <i class="bx bxs-trash"></i>
      <span class="text">{{ "buttons.delete-profile" | translate }}</span>
    </button>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
