<section>
  <div class="title">
    <h2>{{ "welcome.cgv.title" | translate }}</h2>
  </div>
  <div class="cgv">
    <p>
      {{ "welcome.cgv.object1.1" | translate }}
      <span>Foodlove</span>
      {{ "welcome.cgv.object1.2" | translate }}
    </p>

    <h3>1. {{ "welcome.cgv.section1" | translate }}</h3>
    <p>
      {{ "welcome.cgv.object2.1" | translate }}
      <span>Foodlove</span>
      {{ "welcome.cgv.object2.2" | translate }}
    </p>

    <h3>2. {{ "welcome.cgv.section2" | translate }}</h3>
    <p>{{ "welcome.cgv.object3.intro" | translate }}</p>
    <ul>
      <li>
        {{ "welcome.cgv.object3.list.monthly" | translate }}
      </li>
      <li>
        {{ "welcome.cgv.object3.list.lifetime" | translate }}
      </li>
    </ul>
    <p>{{ "welcome.cgv.object3.outro" | translate }}</p>

    <h3>3. {{ "welcome.cgv.section3" | translate }}</h3>
    <p>{{ "welcome.cgv.object4" | translate }}</p>

    <h3>4. {{ "welcome.cgv.section4" | translate }}</h3>
    <p>{{ "welcome.cgv.object5.1" | translate }}</p>
    <p>
      {{ "welcome.cgv.object5.2" | translate }}
      <span>Foodlove</span>
      {{ "welcome.cgv.object5.3" | translate }}
    </p>

    <h3>5. {{ "welcome.cgv.section5" | translate }}</h3>
    <p>{{ "welcome.cgv.object6.1" | translate }}</p>
    <p>{{ "welcome.cgv.object6.2" | translate }}</p>

    <h3>6. {{ "welcome.cgv.section6" | translate }}</h3>
    <p>{{ "welcome.cgv.object7.intro" | translate }}</p>
    <ul>
      <li>{{ "welcome.cgv.object7.list.law" | translate }}</li>
      <li>{{ "welcome.cgv.object7.list.no-share" | translate }}</li>
      <li>{{ "welcome.cgv.object7.list.no-bypass" | translate }}</li>
    </ul>

    <h3>7. {{ "welcome.cgv.section7" | translate }}</h3>
    <p>
      <span>Foodlove</span>
      {{ "welcome.cgv.object8" | translate }}
    </p>

    <h3>8. {{ "welcome.cgv.section8" | translate }}</h3>
    <p>{{ "welcome.cgv.object9" | translate }}</p>

    <h3>9. {{ "welcome.cgv.section9" | translate }}</h3>
    <p>{{ "welcome.cgv.object10" | translate }}</p>

    <h3>10. {{ "welcome.cgv.section10" | translate }}</h3>
    <p>
      <span>Foodlove</span>
      {{ "welcome.cgv.object11" | translate }}
    </p>

    <h3>11. {{ "welcome.cgv.section11" | translate }}</h3>
    <p>{{ "welcome.cgv.object12.1" | translate }}</p>
    <p>
      {{ "welcome.cgv.object12.2.1" | translate }}
      <span>Foodlove</span>
      {{ "welcome.cgv.object12.2.2" | translate }}
    </p>

    <h3>12. {{ "welcome.cgv.section12" | translate }}</h3>
    <p>{{ "welcome.cgv.object13" | translate }}</p>
  </div>
</section>
