:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 170px;
  border: none;
  background-color: var(--background-nav);
}

.button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

button i {
  font-size: 30px;
}

button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container label {
  cursor: pointer;
  background-color: var(--background-nav);
  color: rgb(0, 106, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 140px;
}

.image-container label:hover {
  background-color: rgb(0, 106, 255);
  color: var(--primary);
}

.image-container label i {
  font-size: 30px;
}

.image-container label .text {
  font-size: 20px;
  font-weight: 500;
}

.image-container input {
  display: none;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

mat-form-field {
  width: 100%;
}

.mat-icon {
  color: var(--accent);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--background-nav) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}
