@if (!loading) {
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-form-field>
    <mat-label>{{ "form.email" | translate }}</mat-label>
    <input matInput formControlName="email" />
    @if (registerForm.get('email')!.invalid) {
    <mat-error>
      @if (registerForm.get('email')!.hasError('required')) {
      <span>{{ "form.error.required" | translate }}</span>
      } @if (registerForm.get('email')!.hasError('email')) {
      <span>{{ "form.error.invalid" | translate }}</span>
      }
    </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "form.password" | translate }}</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (registerForm.get('password')!.invalid) {
    <mat-error>
      @if (registerForm.get('password')!.hasError('required')) {
      <span>{{ "form.error.required" | translate }}</span>
      } @if (registerForm.get('password')!.hasError('minlength')) {
      <span>{{ "form.error.minlength" | translate }}</span>
      } @if (registerForm.get('password')!.hasError('maxlength')) {
      <span>{{ "form.error.maxlength" | translate }}</span>
      }
    </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "form.confirm" | translate }}</mat-label>
    <input
      matInput
      [type]="hideDuplicate ? 'password' : 'text'"
      formControlName="passwordConfirmation"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideDuplicate = !hideDuplicate"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideDuplicate"
      type="button"
    >
      <mat-icon>{{ hideDuplicate ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (registerForm.get('passwordConfirmation')!.invalid) {
    <mat-error>
      @if (registerForm.get('passwordConfirmation')!.hasError('required')) {
      <span>{{ "form.error.required" | translate }}</span>
      } @if (registerForm.get('passwordConfirmation')!.hasError('minlength')) {
      <span>{{ "form.error.minlength" | translate }}</span>
      } @if (registerForm.get('passwordConfirmation')!.hasError('maxlength')) {
      <span>{{ "form.error.maxlength" | translate }}</span>
      } @if
      (registerForm.get('passwordConfirmation')!.hasError('passwordMismatch')) {
      <span>{{ "form.error.missmatch" | translate }}</span>
      }
    </mat-error>
    }
  </mat-form-field>
  <div class="button-container">
    <button [title]="'connect.register' | translate" type="submit">
      <i class="bx bxs-log-in"></i>
      <span class="text">{{ "connect.register" | translate }}</span>
    </button>
  </div>
</form>
} @else {
<mat-spinner></mat-spinner>
}
